/* Importing & Setting Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&family=Lato:ital,wght@1,300&display=swap');:root

.home-title {
    font-family:'Bilbo Swash Caps', 'Helvitica', sans-serif;
    /* Setting Title Size */
    font-size: 2em;
}

h4, .button-box, h2 {
    font-family: 'Lato', 'Helvitica', sans-serif;
}

h2 {
    margin: 0;
}

/* Setting max width in case of wide screens */
#content {
    max-width: 1600px;
    margin: 0 auto;
}

/* Centering Text */
#logo-link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

nav a {
    text-align: center;
    color: #94d2bd;
    text-decoration: none;
    padding: 35px;
}

nav {
    display: flex;
    justify-content: space-around;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

.card-img, .mountains {
    width: 100%;
}

#hero-img {
    width: 100%;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/3;
    margin-top: 100px;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
    color: #94d2bd;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

/* Adding Padding */
#logo_link {
    padding-top: 5px;
}

/* Adding Margins */
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid black;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

main section img {
    box-sizing: border-box;
}

/* Creating a Backround Section */
#background {
    height: 725px;
}

/* Setting Background Colors */
body {
    background-color: antiquewhite;
    font-family: 'Lato', 'Helvitica', sans-serif;
    /* Setting Default Font Size for whole page */
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    background-color: #005f73;
    display: grid;
    grid-template-columns: 150px auto;
}

nav a:hover {
    background-color: #EE9B00;
    color: black;
}

.book, .join {
    background-color: #005f73;
    color: antiquewhite;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: #EE9B00;
}

#background {
    background-color: #005f73;
}


/* Text Color */
.home-title {
    color: black;
    margin-top: 10px;
}

h4 {
    color: black;
}

.msg {
    background-color: #94d2bd;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}

.msg h2 {
    color: #005f73;
    font-family: 'Bilbo Swash Caps', 'Helvitica', sans-serif;
}

.msg p {
    color: black;
    font-size: .8em;
    font-family: 'Lato', 'Helvitica', sans-serif;
    padding-bottom: 15px;
}

footer {
    background-color: #005f73;
    margin-top: 200px;    
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer h3 {
    color: #94d2bd;
    font-size: .8em;

}

footer a {
    color: antiquewhite;
    text-decoration: none;
}

footer a:hover {
    color: #EE9B00;
}

/* Setting Widths for Images*/
.logo {
    width: 80px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}

#background {
    grid-column: 1/11;
    grid-row: 4/9;
}

.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}

/* Adding Underline to Footer Links when Hovered */


footer h3 a:hover {
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}

/* Subpage CSS */


#main-body {
    display: grid;
    grid-template-columns: 20% 1fr
}

#about-us-boxes {
    grid-column: 1/2;
    margin: 0 auto;
    align-items: center;
}

#about-title {
    text-align: center;
    /* grid-column: 3/4; */
}


#about-us-boxes img {
    height: 200px;
    width: 200px;
}

#about-central-topic {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 60% 1fr;
}

#lake-mountain {
    z-index: -1;
}

#about-central-topic h3 {
    grid-column: 1/2;
    grid-row: 1/2;
}

#wildlife-box {
    grid-column: 2/3;
}



/* #about-title {
    text-align: center;
    color: #005f73;
    font-family: 'Bilbo Swash Caps', 'Helvitica', sans-serif;
    margin-bottom: 20px;
    z-index: 1;
}

#about-title h2 {
    font-size:larger;
}

#main-content {
    max-width: 1600px;
    display: grid;
    grid-template-columns: 20% 10% 60% 10%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 0 auto;
}

#about-us-boxes {
    margin-top: -50%;
    grid-column: 1/2;
    grid-row: 1/7;
    align-content:center;
    display: grid;
    grid-template-columns: 60px 200px 20px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

#old-books {
    margin-bottom: 20px;
    grid-column: 2/3;
    grid-row: 1/3;
}

#employees {
    margin-bottom: 20px;
    grid-column: 2/3;
    grid-row: 3/5;
}

#safety {
    grid-column: 2/3;
    grid-row: 5/7;
}

#about-us-boxes {
    align-self: center;
    text-align: center;
    font-size: smaller;
}

#about-us-boxes img{
    margin-top: 50px;
    width: 200px;
    height: 200px;
    display: list-item;
    align-self: left;
    border: 10px solid black;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}


#about-central-topic {
    margin-top: -50px;
    margin-left: -50px;
    grid-column: 3/4;
    grid-row: 2/6;
    height: auto;
    display: grid;
    grid-template-columns: 8% 60% 6% 20% 6%;
    grid-template-rows: 1fr 30%;
}

#lake_mountain {
    z-index: -1;
    grid-column: 1/3;
    grid-row: 1/2;
    overflow-wrap: ;
    height: auto;
}

#about-central-topic h3{
    opacity: .8;
    background-color: #94d2bd;
    margin-top: 10%;
    margin-bottom: 0 auto;
    z-index: 1;
    grid-column: 2/3;
    grid-row: 1/2;
    color: black;
}

#about-central-topic .button-box {
    align-self: center;
    grid-column: 4/5;
    grid-row: 1/2;
}

#wildlife-box {
    width: 20%;
    height: auto;
    margin-top: -200px;
    margin-right: 10%;
    margin-left: 60%;
}

#wildlife-box img {
    height: 200px;
    width: auto;
} */

/* DO NOT ADD BEYOND THIS POINT */

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}