h1 {
    font-family:'Bilbo Swash Caps', 'Helvitica', sans-serif;

}

h4, h2 {
    font-family: 'Lato', 'Helvitica', sans-serif;
}


/* Header CSS */
header {
    max-width: 1800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 120px 1fr;
    background-color: #388659;
    border: solid black;
}


header h1 {
    margin-top: auto;
    margin-bottom: auto;
}

nav {
    /* border: solid red; */
    display: flex;
    justify-content: space-around;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav h3 {
    margin-top:auto;
    margin-bottom:auto;
}

nav a {
    /* border: solid red; */
    color: #3AAED8;
    font-size: larger;
    margin-top: 50%;
    text-align: center;
    padding: 35px;
    text-decoration: none;
}

nav a:hover {
    background-color: #2BD9FE;
    color: white;
    text-decoration: underline;
}


/* Footer CSS */
footer {
    max-width: 1800px;
    display:flex;
    justify-content: space-around;
    background-color: #388659;
    margin: 0 auto;
}

footer h2 {
    color:#054a22
}

#site-plan-link h2 a {
    margin-top: auto;
    margin-bottom: auto;
    font-size: large;
}

footer a {
    font-size: large;
}

#social {
    margin: 0 auto;
}

/* Body CSS for all 3 pages */
body {
    width: 100%;
    margin: 0 auto;
    background-color: black;
}

/* Main Page CSS */
#main-pg-1 {
    max-width: 1400px;
    margin: 0 auto;
    border: solid black;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 200px 1fr .5fr ;
    background-color: #2BD9FE;
}

#title-logo {
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: center;
    justify-content: space-around;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 10px solid black;
    border-radius: 5%;
}

#info-boxes {
    grid-column: 1/4;
    grid-row: 2/3;
}

.information {
    background-color: #52AA8A;
    border-radius: 12%;
    border-top-left-radius: 0%;
    border-bottom-right-radius: 0%;
    border: 50px solid rgba(45, 43, 43, 0.314);
    width: 85%;
    margin: 0 auto;
    margin-bottom: 25px;
}

#home-link-pics {
    grid-column: 1/4;
    grid-row: 4/5;
}

#header-logo {
    width: 100px;
    height: 100px;
}

#title-logo {
    display: flex;
    background-color: #52AA8A;
    
}

#title-logo h1 {
    margin-top: auto;
    margin-bottom: auto;
}

#home-logo {
    width: 75%;
    height: 75%;
    border-radius: 15%;
    margin: 25px auto;
    margin-right: 25px;
    margin-top: auto;
    margin-bottom: auto;
}


#first-info {
    display: flex;
    padding: 20px;
}

#second-info {
    display: flex;
    margin-bottom: 75px;
    padding: 20px;
}

.main-p {
    margin: 0 auto;
    
}

#first-info-pic {
    width: 500px;
    height: 310px;
    margin-right: 50px;
    margin-left: 50px;
    border-radius: 12%;
    border: 20px solid black;
    border-bottom-left-radius: 0%;
}

#first-info h2 {
    margin-top: auto;
    margin-bottom: auto;
    background-color: #3AAED8;
    padding: 25px;
    color: white;
}

#second-info-pic {
    width: 500px;
    height: 310px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 12%;
    border-top-right-radius: 0%;
    border: 20px solid black;
}

#second-info h2 {
    margin-top: auto;
    margin-bottom: auto;
    padding: 25px;
    background-color: #3AAED8;
    color: white;
}

#home-link-pics {
    margin-top: 75px;
    display: flex;
    margin: 0 auto;
    margin-bottom: 100px;
    grid-row: 3/4;
} 

.home-link-pic-img {
    grid-row: 2/3;
    width: 500px;
    height: 310px;
    border: 20px solid rgb(61, 58, 58)
}

#wireframe-link-pic {
    margin-right: 50px;
}

#success-link-pic {
    margin-left: 50px;
}

.link-pic-div:hover {
    transform: scale(1.2)
}


.link-pic-div h2 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

.link-pic-div a {
    text-decoration: none;
}

/* Page 2 CSS */

.link-pic-div a:hover {
    text-decoration: underline;
}

#main-pg-2 {
    background-color: #2BD9FE;
    width: 1400px;
    border: solid black;
    margin: 0 auto;
    min-height: 800px;
    /* margin-top: 0px; */
}

#title-banner-pg2 {
    /* grid-column: ; */
    width: 1400px;
    background-color: #52AA8A;
    margin: 0 auto;
    padding-top: 1px;
    padding-bottom: 1px;
}

/* #title-banner-pg2 h1 {
    
} */

#title-banner-pg2 h1 {
    text-align: center;
}

.option-box {
    align-self: center;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    background-color: #52AA8A;
    padding: 25px;
    border-radius: 5%;
}

.option-box img {
    height: 200px;
    width: 300px;
    /* align-self: center; */
    border-radius: 12%;
}

.option-box:hover {
    opacity: .7;
    text-decoration: underline;
    background-color: #2BD9FE;
}

#short-explanation {
    text-align: center;
    background-color: #52AA8A;
    max-width: 80%;
    margin: 0  auto;
    margin-bottom: 10%;
    border: 10px solid black;
    border-radius: 3%;
    margin-top: 50px;
}

#short-explanation p{
    font-family: 'Lato', 'Helvitica', sans-serif;
}

#bus-pers-inf {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #388659;
    /* align-content: center;  */
    border-radius: 5%;
    border-top-left-radius: 0%;
    border-bottom-right-radius: 0%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom:200px;
}

#business {
    grid-column: 1/2;
}

#persuasion {
    grid-column: 2/3;
}

#info {
    grid-column: 3/4;
}